<div class="span1">
    <ul class="nav nav-pills nav-stacked"><li class="active"><a>热点文章</a></li></ul>
    <ul class="nav nav-tabs nav-stacked">
        {% for a in hot %}
            <li><a href="{{url_pre}}/article/{{a.aid}}/">{{a.title}}</a></li>
        {% endfor %}
    </ul>
</div>