<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css" />


{% block link %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="span3 be_close">
        <h1>先锋CMS-neupCMS-beta</h1>
    </div>
    <div class="span3 be_close">
        {% include "include/menu-list.html" %}
    </div>
    <div class="row">
        {% block content %}{% endblock %}
    </div>
    <div class="span3">
    {% block user_status %}
        <div class="top_status">
            {% if user.is_authenticated %}
                <p>欢迎 <a href="{{url_pre}}/member/profile/{{user.username}}/">{{ user.username }}</a>，感谢登录，<a href="{{url_pre}}/member/logout/?next={{path}}">登出</a></p>
            {% else %}
                <p>请<a href="{{url_pre}}/member/login/?next={{path}}">登录</a></p>
            {% endif %}
        </div>
    {% endblock %}
    </div>
    {% block footer %}
    <div class="row">
        <footer id="footer"><hr /><p class="copyleft">www.neupioneer.com  &copy; 2012  frellica>w<</p></footer>
    </div>
    {% endblock %}
</div>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>