{% extends "base.html" %}
{% block title %}
    {{page_title}}
{% endblock %}
{% comment %}{% endcomment %}
{% block link %}
<script type="text/javascript" charset="utf-8" src="{{url_pre}}/media/editor/ueditor/editor_config.js"></script>
<script type="text/javascript" charset="utf-8" src="{{url_pre}}/media/editor/ueditor/editor_all.js"></script>
<link rel="stylesheet" type="text/css" href="{{url_pre}}/media/editor/ueditor/themes/default/ueditor.css"/>
{% endblock %}

{% block content %}
    <h1>编辑文章</h1>
    <div class="edit_error_prompt">
        {% if form.errors %}<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a>输入有误，请更正</div>{% endif %}
        {% if result_aid %}<div class="alert alert-success">
  <a class="close" data-dismiss="alert">×</a>提交成功，<a href="{{url_pre}}/article/{{result_aid}}">点击查看</a></div>{% endif %}
    </div>
    {% if aid %}<form action="{{url_pre}}/article/{{aid}}/edit/" method="post">
    {% else %}<form action="{{url_pre}}/article/new/" method="post">
    {% endif %}{% csrf_token %}
        <ul>
            {{ form.as_ul }}
        </ul>
        <input class="btn btn-primary btn-large" type="submit" value="提交文章">
    </form>
    {% if upload_auth %}<form {% if aid %}action="{{url_pre}}/article/{{aid}}/upload/"{% else %}action="{{url_pre}}/article/new/upload/"{% endif %} enctype="multipart/form-data" method="post">{% csrf_token %}
        <ul>
            {{ upload_form.as_ul }}
        </ul>
    <input type="submit" value="上传附件">
    </form>{% endif %}
    {% if attachments_list and upload_auth %}<div>附件列表</div>
        <ul>{% for dict in attachments_list %}
            <li><a href="{{dict.file_path}}">dict.original_file_name</a>({dict.file_size}) Bytes</li>
        {% endfor %}</ul>
    {% endif %}
{% endblock %}