{% extends "base.html" %}
{% block title %}
    {{page_title}}
{% endblock %}

{% block content %}
    <h1>log in</h1>
    <div class="login_error_prompt">
    {% if form.errors %}
        <p>输入有误，请更正</p>
    {% endif %}
    {% if error.pwd_wrong %}
        <p>错误的用户名和密码</p>
    {% endif %}
    </div>
    <form action="{{url_pre}}/member/login/{{next}}" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="登录">
    </form>
{% endblock %}