{% extends "base.html" %}
{% block title %}
    {{page_title}}
{% endblock %}

{% block content %}
    <h1>修改密码</h1>
    <div class="login_error_prompt">
    {% if form.errors %}
        <p>输入有误，请更正</p>
    {% endif %}
    {% if error.edit_success %}
        <p>修改成功</p>
    {% endif %}
    </div>
    <form action="/member/passwd/{{next}}" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="提交修改">
    </form>
    <div><a href="/">返回首页</a></div>
{% endblock %}