{% extends "base.html" %}
{% block title %}
    {{page_title}}
{% endblock %}
{% block content %}
    <div class="span3">
        <ul class="breadcrumb">
            <li><a href="{{url_pre}}/">首页</a> <span class="divider">/</span></li>
            <li><a href="{{url_pre}}/type/{{type.typeid}}">{{type.typename}}</a> <span class="divider">/</span></li>
            <li class="active">浏览文章</li>
        </ul>
    </div>
    <div class="span1">
        {% include "include/newest.html" %}
        {% include "include/hot.html" %}
    </div>
    <div class="span2">
        {% if status.no_perm %}
            <div class="alert alert-error"><a class="close" data-dismiss="alert">×</a>您木有权限处置此文章</div>
        {% endif %}
        {% if status.has_edited %}
            <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a>编辑成功</div>
        {% endif %}
        {% if status.verify_failed %}
            <div class="alert alert-error"><a class="close" data-dismiss="alert">×</a>审核失败，选项有误，请更正后提交</div>
        {% endif %}
        {% if status.be_verified %}
            <div class="alert alert-success"><a class="close" data-dismiss="alert">×</a>审核成功</div>
        {% endif %}
        {% if article.is_deleted %}
            <div class="alert alert-info"><a class="close" data-dismiss="alert">×</a>本文章已被删除，<a href="{{url_pre}}/article/{{article.aid}}/resume/">点击恢复</a></div>
        {% endif %}
        {% if status.to_verify %}
            <form action="{{url_pre}}/article/{{article.aid}}/verify/" method="post">{% csrf_token %}
                {{verify_form.as_p}}
                <input type="submit" value="提交">
            </form>
        {% endif %}
        <div class="well">
            <div id="article_title"><h1>{{article.title}}</h1></div>
            <div id="article_status">
                <span id="article_author">作者：{{nickname}}</span>
                <span id="sendtime">发表时间：{{article.senddate|date:"Y年m月d日 H:i:s"}}</span>
            </div>
        </div>
        <div class="well">
            <div id="article_content">{{content|safe}}</div>
        </div>
    </div>
{% endblock %}